body{
    font-family: 'Work Sans', sans-serif;
    background: linear-gradient(45deg, rgb(118, 201, 255), rgb(247, 255, 222));
    height: 100%;
  }
  
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: rgb(4, 4, 45);
  }
  
.navbar-brand {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}

  .container{
    width: 75%;
  }
  hr{
  
    color: rgb(255, 255, 255);
   
  }
  .custom-card, .card-header{
    border: none;
  }



a{
  text-decoration:none;
}
a:hover{
  cursor: pointer;
}
.custom-text-color{
  color: #80aad6;
  font-weight: 600;
}

.navbar-nav a:hover{
  text-decoration: underline;
  font-weight: 600;
}
.navbar-nav a:active{
  font-weight: 800;
}
.navbar-text a:hover{
  text-decoration: none;
}
.navbar-brand {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}
.custom-icon:hover {
  transform: scale(1.5);
}

.custom-btn-color{
  background-color: #ffe038;
}

.custom-footer a:hover{
  text-decoration: underline;
  font-weight: 600;
}
.custom-contact a:hover{
 text-decoration:underline;
 font-weight: 500;
}

.active{
  font-weight: 500;
  }