body{
    font-family: 'Work Sans', sans-serif;
    background: linear-gradient(45deg, rgb(118, 201, 255), rgb(247, 255, 222));
    height: 100%;
  }
  
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: rgb(4, 4, 45);
  }
  

.navbar-brand {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}

  .container{
    width: 75%;
  }
  hr{
  
    color: rgb(255, 255, 255);
   
  }
  .custom-card, .card-header{
    border: none;
  }
  a{
    text-decoration:none;
  }
  a:hover{
    cursor: pointer;
  }

  .reveal {
    position: relative;
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }
  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  
  @media only screen and (min-width=576px) {
   
  }
  .navbar-nav a:hover{
    text-decoration: underline;
    font-weight: 600;
  }
  .navbar-nav a:active{
    font-weight: bolder;
  }
  .navbar-text a:hover{
    text-decoration: none;
  }
  .navbar-brand {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
  }
  .custom-icon:hover {
    transform: scale(1.5);
  }
  
  .custom-btn-color{
    background-color: #ffe038;
  }
  .services a:hover {
    text-decoration: underline;
    font-weight:500;
  }
  .custom-footer a:hover{
    text-decoration: underline;
    font-weight: 600;
  }
  .custom-contact a:hover{
   text-decoration:underline;
   font-weight: 500;
  }
  .active{
    font-weight: 500;
    }